/*instrucciones generales*/
/* * { margin: auto; } */
/*cabecera de la página*/
/* h1-calendario { text-align: center; padding: 0.5em; } */
/*div principal del calendario*/
#calendario { border: 4px double black ; max-width: 300px; 
              background-color:#004669; text-align: center; }
/*tabla del calendario*/
#diasc { border: 1px solid black; border-collapse: 
         separate; border-spacing: 4px; }
/* #diasc th,#diasc td { font: normal 14pt arial; width: 50px; height: 20px; } */
#diasc th { color: #fff; background-color: #020202 }
#diasc td { color: #cf2424; background-color: #FDFBFB }
/*línea de la fecha actual*/
#fechaactual { font: bold 12pt arial; padding: 0.4em }
#fechaactual i { cursor: pointer ; }
#fechaactual i:hover { color: blue; text-decoration: underline; } */
 /* formulario de busqueda de fechas */
#buscafecha { background-color: #004669; color: #9bf5ff; padding: 5px }
#buscafecha select, #buscafecha input  { background-color: #9bf5ff; 
            color: #0d09f7; font: bold 10pt arial;  }
#buscafecha [type=text]  { text-align: center; }
#buscafecha  [type=button] { cursor: pointer; }
/*cabecera del calendario*/ 
#anterior { float: left; width: 100px; font: bold 12pt arial;
          padding: 0.5em 0.1em; cursor: pointer ; } */
#posterior { float: right; width: 100px; font: bold 12pt arial;
    padding: 0.5em 0.1em; cursor: pointer ;}
#anterior:hover {color: blue;text-decoration: underline;}
#posterior:hover {color: blue; text-decoration: underline;}
#titulos { font: normal 14pt "arial black"; padding: 0.2em; }