/*
    DEMO STYLE
*/


@font-face {
font-family: myfuente;
src: url(../fonts/nasalization-rg.ttf);
}


a nav-link dropdown-toggle opciones {
    padding-right: 2.5rem;
    padding-left: 1.5rem;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.azul-c{
    color: #34495e!important;
   }
   
   .azul-b{
       background: #34495e!important;
   }

   .blanco-c{
    color: #34495e!important;
   }
   
   .blanco-b{
       background: #ffffff!important;
   }

   .navbar-brand .text 
   {
       padding-top: 8px;
       color: #FFFFFF;
       padding-left: 10px;
       font-family: myfuente;
       font-size: 22px;
   }
   
    
    .circleback{
        width: 100%;
        position: absolute;
        height: 85px;
        overflow: hidden;
        top: 0px;
        left: 0px;
    }

    .circleback:before {
        content: '';
        position: absolute;
        top: -275px;
        left: 6px;
        width: 400px;
        height: 400px;
        border-radius: 100%;
        background-image: url(../img/background12.png);
        background-size: 97%;
        
    }

    #navbarNavDropdown
    {
        padding-left:10%;
    }

    #navbarDropdownMenuLink{
        min-width:300px;
        color:#032039;
        font-weight:bold;
    }
    

    #navbarSupportedContent
    {
        padding-left: 50px;
    }


    .btn-outline-success 
    {

        background:  rgb(3, 152, 252);
        border:1px #34495e solid ;
        color: #ffffff;
         -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    
    }
    
    .btn-outline-success:hover{
    
        background: rgb(252, 3, 3);
        color: #34495e;
        border:1px rgb(245, 4, 4) solid ;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .iconosSIP{
        width: 77px;
        height: 80px;
        overflow: hidden;
        background-size: 673%;
        float: right;
        background-image: url(../img/Iconos.png);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out; 
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    
    .iconosSIP:hover{
    
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    
    .iconosSIP.alerta{
        background-position: -25px -19px;
    }
    .iconosSIP.mensaje {
        background-position: -110px -19px;
    }
    .iconosSIP.mensaje:hover{
            background-position: -110px -107px;
    }
    
    .iconosSIP.alerta:hover{
        background-position: -25px -106px;
    }
       

p {
    font-family: 'Fantasía', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
p2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000000;
}

p1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #142156;
}
p2 {
    /* font-family: 'Cursiva'; */
    font: oblique bold 120% cursive;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.9em;
    color: #1f3696;
    width: 1000px;
    height: 1500px;
}
p3 {
    /* font-family: 'Cursiva'; */
    font: oblique bold 120% cursive;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.9em;
    color: #ffffff;
    width: 1000px;
    height: 1500px;
}


.titulo {
    position: relative;
    padding: .60rem 1.0rem;
    /* margin-bottom: 1rem; */
    border: 1px solid transparent;
    /*border-radius: .99rem;*/
    /* border-top-right-radius:12px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 12px;
    border-bottom-left-radius:1px; */
}

.titulo-primary {
    color: #FFFAFA;
    background-color: #004669;
    border-color: #004669;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 5px 12px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
} 

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #004669;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: left;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs,
#sidebar.active .components #homeSubmenu .link_option_menu {
    display: none;
}
#sidebar.active .components #dataSubmenu .option_menu .link_option_menu,
#sidebar.active .components #adjSubmenu .option_menu .link_option_menu {
    display: none;
}

#sidebar.active .sidebar-header strong,
#sidebar.active .components #homeSubmenu strong,
#sidebar.active .components #dataSubmenu strong,
#sidebar.active .components #adjSubmenu strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2980b9;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar .components #homeSubmenu strong,
#sidebar .components #dataSubmenu strong,
#sidebar .components #adjSubmenu strong {
    display: none;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #e7b200;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #3498db;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {

    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
    color: #34495e; 
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #34495e;
}

a.article,
a.article:hover {
    background: #3498db !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    /* .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    } */
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }

    #homeSubmenu .option_menu .link_option_menu {
        display: none;
    }
    #homeSubmenu .option_menu strong{
        display: block;
    }


    #dataSubmenu .option_menu .link_option_menu {
        display: none;
    }
    #dataSubmenu .option_menu strong{
        display: block;
    }

    
    #adjSubmenu .option_menu .link_option_menu {
        display: none;
    }
    #adjSubmenu .option_menu strong{
        display: block;
    }   
    
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* CALENDARIO */
div.zabuto_calendar {
    margin: 0;
    padding: 0;
}

div.zabuto_calendar .table {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar .table th,
div.zabuto_calendar .table td {
    padding: 4px 2px;
    text-align: center;
}

div.zabuto_calendar .table tr th,
div.zabuto_calendar .table tr td {
    background-color: #ffffff;
}

div.zabuto_calendar .table tr.calendar-month-header th {
    background-color: #fafafa;
}

div.zabuto_calendar .table tr.calendar-month-header th span {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 10px;
}

div.zabuto_calendar .table tr.calendar-dow-header th {
    background-color: #f0f0f0;
}

div.zabuto_calendar .table tr:last-child {
    border-bottom: 1px solid #dddddd;
}

div.zabuto_calendar .table tr.calendar-month-header th {
    padding-top: 12px;
    padding-bottom: 4px;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header th {
    border-left: 0;
    border-right: 0;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header th:first-child {
    border-left: 1px solid #dddddd;
}

div.zabuto_calendar div.calendar-month-navigation {
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

div.zabuto_calendar tr.calendar-dow-header th,
div.zabuto_calendar tr.calendar-dow td {
    width: 14%;
}

div.zabuto_calendar .table tr td div.day {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* actions and events */
div.zabuto_calendar .table tr td.event div.day,
div.zabuto_calendar ul.legend li.event {
    background-color: #fff0c3;
}

div.zabuto_calendar .table tr td.dow-clickable,
div.zabuto_calendar .table tr td.event-clickable {
    cursor: pointer;
}

/* badge */
div.zabuto_calendar .badge-today,
div.zabuto_calendar div.legend span.badge-today {
    background-color: #357ebd;
    color: #ffffff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event,
div.zabuto_calendar div.legend span.badge-event {
    background-color: #ff9b08;
    color: #ffffff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event {
    font-size: 0.95em;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}

/* legend */
div.zabuto_calendar div.legend {
    margin-top: 5px;
    text-align: right;
}

div.zabuto_calendar div.legend span {
    color: #999999;
    font-size: 10px;
    font-weight: normal;
}

div.zabuto_calendar div.legend span.legend-text:after,
div.zabuto_calendar div.legend span.legend-block:after,
div.zabuto_calendar div.legend span.legend-list:after,
div.zabuto_calendar div.legend span.legend-spacer:after {
    content: ' ';
}

div.zabuto_calendar div.legend span.legend-spacer {
    padding-left: 25px;
}

div.zabuto_calendar ul.legend > span {
    padding-left: 2px;
}

div.zabuto_calendar ul.legend {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar ul.legend li {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-left: 5px;
}

div.zabuto_calendar ul.legend
div.zabuto_calendar ul.legend li:first-child {
    margin-left: 7px;
}

div.zabuto_calendar ul.legend li:last-child {
    margin-right: 5px;
}

div.zabuto_calendar div.legend span.badge {
    font-size: 0.9em;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
}

/* responsive */
@media (max-width: 979px) {
    div.zabuto_calendar .table th,
    div.zabuto_calendar .table td {
        padding: 2px 1px;
    }
}


/*instrucciones generales*/
/* * { margin: auto; } */
/*cabecera de la página*/
/* h1-calendario { text-align: center; padding: 0.5em; } */
/*div principal del calendario*/
#calendario { border: 4px double black ; max-width: 300px; 
    background-color:#004669; text-align: center; }
/*tabla del calendario*/
#diasc { border: 1px solid black; border-collapse: 
separate; border-spacing: 4px; }
/* #diasc th,#diasc td { font: normal 14pt arial; width: 50px; height: 20px; } */
#diasc th { color: #fff; background-color: #020202 }
#diasc td { color: #cf2424; background-color: #FDFBFB }
/*línea de la fecha actual*/
#fechaactual { font: bold 12pt arial; padding: 0.4em }
#fechaactual i { cursor: pointer ; }
#fechaactual i:hover { color: blue; text-decoration: underline; } */
/* formulario de busqueda de fechas */
#buscafecha { background-color: #004669; color: #9bf5ff; padding: 5px }
#buscafecha select, #buscafecha input  { background-color: #9bf5ff; 
  color: #0d09f7; font: bold 10pt arial;  }
#buscafecha [type=text]  { text-align: center; }
#buscafecha  [type=button] { cursor: pointer; }
/*cabecera del calendario*/ 
#anterior { float: left; width: 100px; font: bold 12pt arial;
padding: 0.5em 0.1em; cursor: pointer ; }
#posterior { float: right; width: 100px; font: bold 12pt arial;
padding: 0.5em 0.1em; cursor: pointer ;}
#anterior:hover {color: blue;text-decoration: underline;}
#posterior:hover {color: blue;text-decoration: underline;}
#titulos { font: normal 14pt "arial black"; padding: 0.2em; }